{% extends "base.html" %}

{% block content %}

<h2><a href="https://www.snitchn.com">Snitch'n</a></h2>
<p>Snitch'n lets you browse police images of wanted criminals, suspects, associates, missing persons, and more. Think you recognize someone? You can share on social media or send a tip to law enforcement.</p>
<h2><a href="https://streamerlounge.com">Streamer Lounge</a></h2>
<p>Allows content creaters to generate income using their followers cpu power to mine crypo coins. We view this as an alternitve to Patron, ads, or paid subscribers.</p>
<h2><a href="https://chowbank.io">Chowbank</a></h2>
<p>Help reduce food waste by connectings those with extra food to those that need it</p>
<h2><a href="http://upcraft.club">Upcraft club</a></h2>
<p>We build a url router to allow stores to sell paterns with referrals</p>
<h2><a href="https://github.com/handycodejob">Django projects</a></h2>
<p>We do a lot of open-source work</p>

{% endblock content %}
